body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

.flex-container {
    display: flex;
    justify-content: space-around;   /* Atur posisi horizontal */
    align-items: center;             /* Atur posisi vertical */
    flex-wrap: wrap;                 /* Biar turun ke bawah jika sempit */
    gap: 20px;                       /* Jarak antar box */
    background: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

/* Item */
.box {
    width: 120px;
    height: 120px;
    background: #7f57ff;
    color: white;
    display: flex;
    justify-content: center;   /* isi berada di tengah */
    align-items: center;
    border-radius: 10px;
    font-size: 28px;
    font-weight: bold;
}
