button {
  all: unset;
  cursor: pointer;
}
/* ==== MAIN ==== */

main {
    background-color: rgba(255, 174, 0, 1);
    padding: 20px;
}

/* ==== MAIN ==== */

/* title */

.title{
    font-size: 50px;
    font-weight: bolder;
    color: rgba(86, 0, 136, 1);
}

/* title */

/* content */

.content{
    background-color: white;
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 50px;
    border-radius: 30px;
}

.content__img{
    border-radius: 20px;
    border: solid 7px rgba(86, 0, 136, 1);
    width: 3000px;
}

.content__article{
    margin-left: 20px;
    padding: 20px;
    flex: 1;
}

.content__figure{
    flex: 0.8;
}

.content__description{
    text-align: justify;
    margin-bottom: 20px;
}

.content__title{
    font-size: 25px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    text-transform: capitalize;
    color: rgba(86, 0, 136, 1);
    margin-bottom: 20px;
}

.button__button{
    width: 30px;
}

.flex__container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
    gap: 5px;
    margin-left: 15px;
}


/* responsive */

@media (max-width: 500px){
    .content{
        flex-direction: column;
        gap: 20px;
    }
    .content__article{
        margin-left: 0px;
        padding: 10px;
    }

    .title{
        font-size: 30px;
    }
}

/* responsive */

/* content */

/* close__statement */

.close__statement{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: fit-content; /* atau width tertentu */
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 50px;
}

.close__statement__img{
    width: 40px;
}

.close__statement__title{
    letter-spacing: 20px;
    font-weight: 500;
    font-size: large;
    color: rgba(86, 0, 136, 1);
    align-self: center;
}

@media (max-width: 600px) {
    .close__statement {
        gap: 10px;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .close__statement__img {
        width: 25px;
    }

    .close__statement__title {
        letter-spacing: 8px;
        font-size: medium;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .close__statement {
        gap: 15px;
        margin-top: 150px;
        margin-bottom: 40px;
    }

    .close__statement__img {
        width: 32px;
    }

    .close__statement__title {
        letter-spacing: 12px;
        font-size: large;
    }
}

@media (max-width: 500px) {
    .close__statement__img {
        width: 20px;
    }

    .close__statement__title {
        letter-spacing: 2px;
        font-size: 13px;
    }
}

/* close__statement */