.navbar {
  display: flex;
  background: white;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  border-bottom: 0.2vw solid rgba(86, 0, 136, 1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* --- NAVBAR CONTAINER --- */
.navbar__container {
  width: 100%;
  display: flex;
  justify-content: space-between; /* <<< SOLUSI UTAMA */
  align-items: center;
  padding: 0 3vw;
}

/* --- MENU LEFT --- */
.navbar__menu {
  display: flex;
  gap: 5vw;
}

/* --- MENU RIGHT --- */
.navbar__action {
  display: flex;
  gap: 2vw;
}

.navbar__item {
  list-style: none;
}

.navbar__item.navbar__item--home{
  position: relative;
  padding-bottom: 5px; /* beri ruang untuk line */
  cursor: pointer;
}

.navbar__item.navbar__item--home::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px; /* ketebalan underline */
  background-color: rgba(86, 0, 136, 1); /* warna ungu seperti contoh */
  border-radius: 4px; /* ujung tumpul */
}

.navbar__item.navbar__item--certificate{
  position: relative;
  padding-bottom: 5px; /* beri ruang untuk line */
  cursor: pointer;
}

.navbar__item.navbar__item--certificate::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px; /* ketebalan underline */
  background-color: rgba(86, 0, 136, 1); /* warna ungu seperti contoh */
  border-radius: 4px; /* ujung tumpul */
}
.navbar__item.navbar__item--project{
  position: relative;
  padding-bottom: 5px; /* beri ruang untuk line */
  cursor: pointer;
}

.navbar__item.navbar__item--project::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px; /* ketebalan underline */
  background-color: rgba(86, 0, 136, 1); /* warna ungu seperti contoh */
  border-radius: 4px; /* ujung tumpul */
}
.navbar__item.navbar__item--about{
  position: relative;
  padding-bottom: 5px; /* beri ruang untuk line */
  cursor: pointer;
}

.navbar__item.navbar__item--about::after{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px; /* ketebalan underline */
  background-color: rgba(86, 0, 136, 1); /* warna ungu seperti contoh */
  border-radius: 4px; /* ujung tumpul */
}

.navbar__container2{
  display: none;
}


@media (max-width: 500px){
  .navbar__item.navbar__item--home::after{
    width: 35%;
  }
  .navbar__item.navbar__item--certificate::after{
    width: 50%;
  }
  .navbar__item.navbar__item--project::after{
    width: 36%;
  }
  .navbar__item.navbar__item--about::after{
    width: 28%;
  }
}

a {
  text-decoration: none;
  color: black;
}

/* --- RESPONSIVE --- */
@media (max-width: 900px) {
  .navbar__menu {
    gap: 5vw;
  }
  .navbar__action {
    gap: 4vw;
  }
}

@media (max-width: 600px) {
  .navbar__container {
    padding: 0 4vw;
    position: sticky;
  }
  .navbar__menu {
    gap: 3vw;
  }
  .navbar__action {
    gap: 3vw;
  }
}

/* --- RESPONSIVE MOBILE (Samsung Galaxy A51 = ~412px) --- */
@media (max-width: 500px) {

  .navbar {
    padding: 2vw 0;
    position: sticky;
  }

  .navbar__menu {
    display: flex;
    flex-direction: column;      /* menu menjadi vertikal */
    width: 100%;
    gap: 0vw;
  }

  .navbar__action {
    display: flex;
    flex-direction: column;      /* button & CV jadi vertikal */
    width: 100%;
    gap: 0vw;
  }

  .navbar__item a {
    display: block;
    width: 100%;
    padding: 8px 0;
  }

}

@media (max-width: 450px){
  .navbar__container{
    display: none;
  }

  .nav-toggle{
    padding-left: 10px;
    background-color: white;
    height: 50px;
    
    border-bottom: 0.2vw solid rgba(86, 0, 136, 1);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }

  .navbar__container2{
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .navbar__menu2{
    display: none;
    width: 100%;
    padding: 0;
  }

  .navbar__menu2.active{
    display: block;
    padding: 0px;
    margin: 0px;
  }
  
  .navbar{
    border-bottom: none;
    box-shadow: none;
    padding: 0px;
  }
  
  .navbar__item{
    background-color: rgba(86, 0, 136, 1);
    border-bottom: white 2px solid;
    height: 50px;
  }

  .navbar__item.about2{
    background-color: rgba(255, 174, 0, 1);
    border-bottom: white 2px solid;
    height: 50px;
  }

  .navbar__item.project2{
    background-color: rgba(255, 174, 0, 1);
    border-bottom: white 2px solid;
    height: 50px;
  }

  .navbar__item.about2 a {
color: rgba(86, 0, 136, 1);
  }

  .navbar__item a {
    color: white;
    font-size: 15px;
    padding-left: 15px;
  }

  .hamburger{
    margin-top: 10px;
  }
  .navbar__item.navbar__item--home{
    position: relative;
    padding-bottom: 5px; /* beri ruang untuk line */
    cursor: pointer;
  }

  .navbar__item.navbar__item--home::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15%;
    height: 4px; /* ketebalan underline */
    background-color: white; /* warna ungu seperti contoh */
    border-radius: 4px; /* ujung tumpul */
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .navbar__item.navbar__item--certificate{
    position: relative;
    padding-bottom: 5px; /* beri ruang untuk line */
    cursor: pointer;
  }

  .navbar__item.navbar__item--certificate::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 4px; /* ketebalan underline */
    background-color: white; /* warna ungu seperti contoh */
    border-radius: 4px; /* ujung tumpul */
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .navbar__item.navbar__item--project{
    position: relative;
    padding-bottom: 5px; /* beri ruang untuk line */
    cursor: pointer;
  }

  .navbar__item.navbar__item--project::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15%;
    height: 4px; /* ketebalan underline */
    background-color: white; /* warna ungu seperti contoh */
    border-radius: 4px; /* ujung tumpul */
    margin-bottom: 10px;
    margin-left: 10px;
  }

  .navbar__item.navbar__item--about{
    position: relative;
    padding-bottom: 5px; /* beri ruang untuk line */
    cursor: pointer;
  }

  .navbar__item.navbar__item--about::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 15%;
    height: 4px; /* ketebalan underline */
    background-color: white; /* warna ungu seperti contoh */
    border-radius: 4px; /* ujung tumpul */
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

