/* ==== MAIN ==== */

main {
    background-color: rgba(86, 0, 136, 1);
    padding: 20px;
}

/* ==== MAIN ==== */

/* title */

.title{
    font-size: 50px;
    font-weight: bolder;
    color: white;
    text-transform: capitalize;
    width: 70%;
    margin-bottom: 20px;
}

/* title */

/* content */
.content{
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    margin-top: 20px;
    padding: 50px;
    border-radius: 30px;
}

.content__figure{
    align-self: center;
}

.content__img{
    width: 40%;
    margin: 0 auto;
    outline: 5px solid rgba(86, 0, 136, 1);
    border-radius: 20px;
}

.overview{
    margin-top: 70px;
    margin-bottom: 15px;
}

.content__description{
    text-align: justify;
}

.content__title{
    color: rgba(86, 0, 136, 1);
}

.utility{
    margin-bottom: 20px;
}

/* responsive */

@media (max-width: 500px){
    .title{
        font-size: 20px;
    }

    .content__img{
        border-radius: 7px;
        outline: 3px solid rgba(86, 0, 136, 1);
        margin: 0 auto;
    }

    .content__img.voucher{
        width: 300px;
    }
}

/* responsive */
/* content */



/* close__statement */

.close__statement{
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: fit-content; /* atau width tertentu */
    margin: 0 auto;
    margin-top: 200px;
    margin-bottom: 50px;
}

.close__statement__img{
    width: 40px;
}

.close__statement__title{
    letter-spacing: 20px;
    font-weight: 500;
    font-size: large;
    color: white;
    align-self: center;
}

@media (max-width: 600px) {
    .close__statement {
        gap: 10px;
        margin-top: 100px;
        margin-bottom: 30px;
    }

    .close__statement__img {
        width: 25px;
    }

    .close__statement__title {
        letter-spacing: 8px;
        font-size: medium;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .close__statement {
        gap: 15px;
        margin-top: 150px;
        margin-bottom: 40px;
    }

    .close__statement__img {
        width: 32px;
    }

    .close__statement__title {
        letter-spacing: 12px;
        font-size: large;
    }
}

@media (max-width: 500px) {
    .close__statement__img {
        width: 20px;
    }

    .close__statement__title {
        letter-spacing: 2px;
        font-size: 13px;
    }
}

/* close__statement */